<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Kara Forever Moments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <script src="https://unpkg.com/htmx.org@2.0.6"></script>
</head>
<body style="background-color: #ebdbca">
<div class="logo">
    <h1 class="text-center text-6xl text-white">Kara Forever Moments</h1>
</div>
<div th:replace="~{carousel :: carousel}"></div>
<div class="container mx-auto">
    <div th:replace="~{service-section :: service-section}"></div>
    <br>
    <hr>
    <br>
    <div th:replace="~{about-me :: about-me}"></div>
    <br>
    <hr>
    <br>
    <div th:replace="~{contact-form :: contact-form}"></div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>