<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Kara Forever Moments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
</head>
<body style="background-color: #ebdbca">
<div class="container mx-auto">
    <div class="grid grid-cols-1">
        <h1 class="text-center text-6xl">Kara Forever Moments</h1>
    </div>
    <br>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 items-center">
        <img id="headshot" class="aspect-2/3 rounded-xl shadow-lg" th:src="@{/images/KaraHeadshot.jpg}"
             alt="Photo of photographer taking a picture of the viewer">
        <div id="bio" class="text-center m-8 text-lg">
            <p>Hi There!</p>
            <br>
            <p>I'm a 26-year-old photographer that recently moved from colorful Colorado to the legendary cowboy state;
                Texas.</p>
            <br>
            <p>I enjoy the golden sunsets, exploring mountains and strolling around cities and parks with my wonderful
                clients. I absolutely love to hang out with my clients in their messy homes and join them at their
                favorite hangout spots or on casual dates because it gives me the chance to capture them in their most
                authentic, relaxed state. I believe photos are not just about getting the perfect shot, it's about
                telling their unique story through forever-moments that feel intimate and genuine.</p>
            <br>
            <p>My passion for photography began at a young age, sparked by the fascination I had watching my dad
                carefully compose and develop his photos. By the time I was 9, digital cameras were evolving, and so was
                my love for capturing moments. Armed with my parents' camera, I eagerly snapped pictures at every family
                event, eager to freeze time. But it wasn't until high school when I got my first "real" camera-a Nikon
                D3200-that I truly found my artistic stride. That very year I was able to win a senior award in my
                freshman year. As the years passed, my camera became my constant companion. From lively birthday parties
                to intimate gatherings, and even helping friends with photos for modeling contests, I became the
                unofficial documentation of everyone's special moments. Each click of the shutter told a story,
                preserving not just memories, but emotions that would otherwise fade with time.</p>
            <br>
            <p>When I'm not behind the lens, you'll likely find me in the thick of family game nights, fiercely
                competing in board games, or taking long walks with my dog, Ace. My amazing husband and I also love
                exploring new exciting places, finding adventure in every corner of the world. But no matter where life
                takes me, I always return to photography-my ultimate way of telling stories, one frame at a time.</p>
            <br>
            <p>Being a photographer has been a passion of mine since growing up. It brings great joy to capture those
                beautiful raw emotions that will tell a story for a lifetime and bring happiness to my clients who will
                cherish their forever moments.</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <h1 class="text-center text-6xl">Services</h1>
    </div>
    <br>
    <div class="max-w-5xl max-h-5xl mx-auto">
        <div id="services" class="grid p-20 gap-8 lg:grid-cols-2 md:grid-cols-1 place-content-center justify-center">
            <div id="model-service" class="top-card relative group aspect-2/3">
                <img th:src="@{/images/ModelService.jpg}"
                     class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-50 rounded-xl shadow-lg"/>
                <div class="service-title absolute top-0 left-0 m-8 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <h3 class="text-black text-5xl">Model</h3>
                </div>
                <div class="overlay rounded-xl place-content-center justify-center">
                    <div class="grid grid-cols-1 gap-8 text-center">
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Mini Session</h1>
                        </div>
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Full Session</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="couple-service" class="top-card relative group aspect-2/3">
                <img th:src="@{/images/CouplesService.jpg}"
                     class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-50 rounded-xl shadow-lg"/>
                <div class="service-title absolute top-0 left-0 m-8 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <h3 class="text-black text-5xl">Couples</h3>
                </div>
                <div class="overlay rounded-xl place-content-center justify-center">
                    <div class="grid grid-cols-1 gap-8 text-center">
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Mini Session</h1>
                        </div>
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Full Session</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="maternity-service" class="top-card relative group aspect-2/3">
                <img th:src="@{/images/MaternityService.jpg}"
                     class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-50 rounded-xl shadow-lg"/>
                <div class="service-title absolute top-0 left-0 m-8 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <h3 class="text-black text-5xl">Maternity</h3>
                </div>
                <div class="overlay rounded-xl place-content-center justify-center">
                    <div class="grid grid-cols-1 gap-8 text-center">
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Mini Session</h1>
                        </div>
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Full Session</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="family-service" class="top-card relative group aspect-2/3">
                <img th:src="@{/images/FamilyService.jpg}"
                     class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-50 rounded-xl shadow-lg"/>
                <div class="service-title absolute top-0 left-0 m-8 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <h3 class="text-black text-5xl">Family</h3>
                </div>
                <div class="overlay rounded-xl place-content-center justify-center">
                    <div class="grid grid-cols-1 gap-8 text-center">
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Mini Session</h1>
                        </div>
                        <div class="service-option flex items-center justify-center rounded-xl shadow-xl border-2 border-solid">
                            <h1 class="sm:text-4xl text-2xl m-4">Full Session</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <form id="contact-me" class="mb-12">
        <div class="space-y-6">
            <div class="border-b border-b-1 border-gray-900/10 pb-12">
                <h2 class="text-5xl font-semibold text-gray-900">Contact me!</h2>
            </div>

            <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-6 gap-y-8">
                <div>
                    <label for="service-category" class="text-sm/6 font-medium text-gray-900">Service</label>
                    <div class="mt-2 grid grid-cols-1">
                        <select id="service-category" name="service-category" autocomplete="service-category"
                                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option>Model</option>
                            <option>Couples</option>
                            <option>Maternity</option>
                            <option>Family</option>
                        </select>
                        <svg viewBox="0 0 16 16" data-slot="icon" aria-hidden="true"
                             class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4">
                            <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                  clip-rule="evenodd" fill-rule="evenodd"/>
                        </svg>
                    </div>
                </div>
                <div>
                    <label for="session-size" class="text-sm/6 font-medium text-gray-900">Type</label>
                    <div class="mt-2 grid grid-cols-1">
                        <select id="session-size" name="session-size" autocomplete="session-size"
                                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option>Mini (30 minutes)</option>
                            <option>Full (1 hour)</option>
                        </select>
                        <svg viewBox="0 0 16 16" data-slot="icon" aria-hidden="true"
                             class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4">
                            <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                  clip-rule="evenodd" fill-rule="evenodd"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="mt-10 grid justify-stretch grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="first-name" class="block text-sm/6 font-medium text-gray-900">First name</label>
                    <div class="mt-2">
                        <input id="first-name" type="text" name="first-name" autocomplete="given-name"
                               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label for="last-name" class="block text-sm/6 font-medium text-gray-900">Last name</label>
                    <div class="mt-2">
                        <input id="last-name" type="text" name="last-name" autocomplete="family-name"
                               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
                    <div class="mt-2">
                        <input id="email" type="email" name="email" autocomplete="email"
                               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
                    </div>
                </div>
                <div class="sm:col-span-2 items-center justify-end flex">
                    <button type="submit"
                            class="rounded-md bg-indigo-600 px-3 py-2 text-xl font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Contact me
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>